@import "tailwindcss";
@import "@nuxt/ui";

* {
  font-family: "Nunitos Sans";
}

body {
  background-color: var(--color-primary-100);
  color: var(--color-primary-900);

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary colors */
  --color-primary-100: #e2decb;
  --color-primary-200: #cfc9aa;
  --color-primary-300: #b5ad87;
  --color-primary-400: #a2986d;
  --color-primary-500: #877f5a;
  --color-primary-600: #686245;
  --color-primary-700: #504b35;
  --color-primary-800: #3d3a29;
  --color-primary-900: #28251b;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf")
    format("ttf");
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
    format("ttf");
}
