#carousel {
  #image-container {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    img {
      height: 60vh;
      margin: 0.5rem;
      border-radius: 5px;
    }
  }
  #action-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .arrow {
      width: 3vw;
      margin: 0 5vw 0 5vw;
      filter: brightness(0) invert(0.7);
      cursor: pointer;
    }

    #left {
      transform: rotateZ(90deg);
    }

    #right {
      transform: rotateZ(-90deg);
    }

    span {
      color: rgba(255, 255, 255, 0.5);
      font-size: large;
    }
  }
}
