<div id="carousel">
  <div id="image-container">
    <img src="images/pictures/dogs/dog1.jpg" alt="" />
    <img src="images/pictures/cats/cat3.jpg" alt="" />
    <img src="images/pictures/horses/horse3.jpg" alt="" />
    <img src="images/pictures/horses/horse6.jpg" alt="" />
    <img src="images/pictures/dogs/dog23.jpg" alt="" />
  </div>
  <div id="action-container">
    <button (click)="scrollLeft()">left</button>
    <span>{{ currentImageIndex - 3 }}</span>
    <button (click)="scrollRight()">right</button>
  </div>
</div>
