<div id="carousel">
  <div id="image-container">
    <img src="images/pictures/dogs/dog1.jpg" alt="" />
    <img src="images/pictures/cats/cat3.jpg" alt="" />
    <img src="images/pictures/horses/horse3.jpg" alt="" />
    <img src="images/pictures/horses/horse6.jpg" alt="" />
    <img src="images/pictures/dogs/dog23.jpg" alt="" />
  </div>
  <div id="action-container">
    <img
      (click)="scrollLeft()"
      class="arrow"
      id="left"
      src="icons/arrow.png"
      alt=""
    />
    <span>0{{ currentImageIndex - 3}} / 05</span>
    <img
      (click)="scrollRight()"
      class="arrow"
      id="right"
      src="icons/arrow.png"
      alt=""
    />
  </div>
</div>
