@import "../../../assets/styles/variables";

#service-info-card {
  width: 90vw;
  height: 10vh;

  background-color: $main-color-shade-2;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

  margin-bottom: 2rem;

  overflow: hidden;

  #service-header {
    display: flex;
    align-items: center;

    width: 90vw;
    height: 10vh;
    padding-left: 2rem;

    background-color: $main-color-shade-2;

    span {
      text-transform: uppercase;
      font-size: 1.5em;
      font-weight: 500;
    }
  }
}
