@import "../../../assets/styles/variables";

#home-page {
  background-color: $main-color;
  color: $text-color;

  padding-top: 10vh;

  #hero {
    height: 90vh;
    margin-bottom: 20vh;
    overflow-x: hidden;

    h1 {
      font-family: Nunito;
      font-size: 4em;
      text-transform: uppercase;
      letter-spacing: 6pt;
      text-align: center;

      position: absolute;
      z-index: 3;

    }

    #images-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 80vw;

      img {
        width: 15vw;
        height: 80vh;
        object-fit: cover;
        filter: brightness(0.4);
        border-radius: 5px;
      }
    }
  }

  #carousel {
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
      margin: 1rem;
    }

    p {
      font-family: Nunito;
      font-size: 1.5em;
      color: $text-color-shade-1;
      margin: 2rem;
    }
  }

  #services {
    flex-direction: column;

    h2 {
      margin: 10rem 0 4rem 0;
    }
  }
}
