<div id="home-page">
  <section id="hero">
    <h1>Trifusz Kamilla Photo</h1>
    <div id="images-container">
      <img src="images/pictures/dogs/dog5.jpg" alt="" />
      <img src="images/pictures/cats/cat2.jpg" alt="" />
      <img src="images/pictures/horses/horse24.jpg" alt="" />
      <img src="images/pictures/dogs/dog36.jpg" alt="" />
    </div>
  </section>
  <section id="carousel">
    <h2 class="title">Állatfotózás</h2>
    <p>
      Szabadtéren, műteremben, de akár a saját otthonod kényelmében is tudunk
      stúdiót varázsolni! ☺️
    </p>
  </section>
  <app-carousel></app-carousel>

  <section id="services">
    <h2 class="title">Szolgáltatások</h2>
    @for (service of services; track $index) {
      <app-service-info-card [title]="service.title" [description]="service.description" [imageURLs]="service.imageURLs"></app-service-info-card>
    }
  </section>
</div>
