<div id="home-page">
  <section id="hero">
    <h1>Trifusz Kamilla Photo</h1>
    <div id="images-container">
      <img src="images/pictures/_DSC0062-Edit-2_sm.jpg" alt="" />
      <img src="images/pictures/_DSC0501_sm.jpg" alt="" />
      <img src="images/pictures/_DSC0244-_sm.jpg" alt="" />
      <img src="images/pictures/_DSC0807-Edit_ps_2.jpg" alt="" />
    </div>
  </section>
  <section id="carousel">
    <h2 class="title">Állatfotózás</h2>
    <p>
      Szabadtéren, műteremben, de akár a saját otthonod kényelmében is tudunk
      stúdiót varázsolni! ☺️
    </p>
  </section>
  <app-carousel></app-carousel>

  <section id="services">
    <h2 class="title">Szolgáltatások</h2>
    <app-service-info-card></app-service-info-card>
    <app-service-info-card></app-service-info-card>
    <app-service-info-card></app-service-info-card>
    <app-service-info-card></app-service-info-card>
    <app-service-info-card></app-service-info-card>
  </section>
</div>
