// Colors
$main-color: hsl(17, 39%, 28%);
$main-color-shade-1: hsl(17, 39%, 38%);
$main-color-shade-2: hsl(17, 39%, 48%);
$main-color-shade-3: hsl(17, 35%, 58%);

$text-color: hsl(0, 0%, 98%);
$text-color-shade-1: hsl(0, 0%, 80%);

// Sizes
$border-radius: 5px;


// Fonts
@font-face {
  font-family: Nunito;
  src: url('../fonts/Nunito/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format("opentype");
}

@font-face {
  font-family: Playfair Display;
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf') format("opentype");
}